{{!-- <td class="text-center">
    <input type="text" class="form-control form-control-lg form-control-block" placeholder="collection name"
        name="input-colName">
</td>
<td class="text-center">
    <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="bi bi-plus-lg"></i> Insert
        Collection</button>
</td> --}}