<table class="table table-dark table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col" class="text-center">genre_id</th>
            <th scope="col" class="text-center">name</th>
            <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" class="text-center"></th>
            <form class="px-4 py-3" action="/genres" method="POST">
                <td class="text-center">
                    <input type="text" class="form-control form-control-lg form-control-block" placeholder="genre name"
                        name="input-genName">
                </td>
                <td class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="bi bi-plus-lg"></i> Insert
                        Genre</button>
                </td>
            </form>
        </tr>
        {{#each data}}
        <tr>
            <th scope="row" class="text-center">{{this.genre_id}}</th>
            <td class="text-center">{{this.name}}</td>
            <td class="text-center">
                <a type="button" class="open-editGen btn btn-warning btn-small" data-toggle="modal"
                    data-id='{"id":{{this.genre_id}},"name":"{{this.name}}"}' title="Edit this item"
                    href="#renderEditCol"><i class="bi bi-pencil-square"></i> Edit</a>
                <a href="#" type="button" class="btn btn-danger btn-small"> <i class="bi bi-trash3-fill"></i> Delete</a>
                <a href="#" type="button" class="btn btn-info btn-small"> <i class="bi bi-eyeglasses"></i> View</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>




<!-- Edit Modal -->
<div class="modal fade" id="renderEditCol" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Genre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="px-4 py-3" action="/genres/editgen" method="GET">
                <div class="modal-body">
                    id
                    <input type="text" class="form-control form-control-lg" name="geneditId" id="geneditId" value=""
                        style="background: #D3D3D3;" readonly />
                </div>
                <div class="modal-body">
                    name
                    <input type="text" class="form-control form-control-lg" name="geneditName" id="geneditName"
                        value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
            <div>
            </div>
        </div>
    </div>
</div>