<table class="table table-dark table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col" class="text-center">genre_id</th>
            <th scope="col" class="text-center">name</th>
            <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <th scope="row" class="text-center">{{this.genre_id}}</th>
            <td class="text-center">{{this.name}}</td>
            <td class="text-center">
                <a href="#" type="button" class="btn btn-warning btn-small"> <i class="bi bi-pencil-square"></i>
                    Edit</a>
                <a href="#" type="button" class="btn btn-danger btn-small"> <i class="bi bi-trash3-fill"></i> Delete</a>
                <a href="#" type="button" class="btn btn-info btn-small"> <i class="bi bi-eyeglasses"></i> View</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>