.dropdown-menu {
    width: 500px;
    height: auto;
}

/* #collection-table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
} */

#insert-bar {

    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* #search-bar {
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
} */

.bootstrap-select {
    max-width: auto;
}

.bootstrap-select .btn {
    border-style: solid;
    border-left-width: 3px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    font-weight: 200;
    padding: 12px 12px;
    font-size: 16px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.bootstrap-select .dropdown-menu {
    margin: 15px 0 0;
}

select::-ms-expand {
    /* for IE 11 */
    display: none;
}